@page
@model Torneo.App.Frontend.Pages.Partidos.EditModel
@{
}
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <h1>Editar partido</h1>
    <form method="post">
        <div class="form-group mb-3">
            <label asp-for="partido.Id" style="color: white;"></label>
            <input asp-for="partido.Id" class="form-control" readonly>
        </div>
        <div class="form-group mb-3">
            <label asp-for="partido.FechaHora" style="color: white;">Fecha</label>
            <input asp-for="partido.FechaHora" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label asp-for="EquipoSelected" style="color: white;">Equipo local</label>
            <select asp-for="EquipoSelected" asp-items="@Model.EquipoOptions" name="idEquipo" class="form-control">
            </select>
        </div>
        <div class="form-group mb-3">
            <label asp-for="partido.MarcadorLocal" style="color: white;"></label>
            <input asp-for="partido.MarcadorLocal" class="form-control" readonly>
        </div>
        <div class="form-group mb-3">
            <label asp-for="EquipoSelected" style="color: white;">Equipo visitante</label>
            <select asp-for="EquipoSelected" asp-items="@Model.EquipoOptions" name="idEquipo" class="form-control">
            </select>
        </div>
        <div class="form-group mb-3">
            <label asp-for="partido.MarcadorVisitante" style="color: white;"></label>
            <input asp-for="partido.MarcadorVisitante" class="form-control" readonly>
        </div>
        <div class="form-group mb-3">
            <label asp-for="ArbitroSelected" style="color: white;">Arbitro</label>
            <select asp-for="ArbitroSelected" asp-items="@Model.ArbitroOptions" name="idArbitro" class="form-control">
            </select>
        </div>
        <div class="form-group mb-3">
            <label asp-for="EstadioSelected" style="color: white;">Estadio</label>
            <select asp-for="EstadioSelected" asp-items="@Model.EstadioOptions" name="idEstadio" class="form-control">
            </select>
        </div>
        <div class="form-group mb-3 d-grid gap-2">
            <button type="submit" class="btn btn-warning btn-block">Editar partido</button>
        </div>
    </form>
    <div class="d-grid gap-2">
        <a class="btn btn-secondary" asp-page="./Index">Volver</a>
    </div>
</div>