@page
@model Torneo.App.Frontend.Pages.Posiciones.DetailsModel
@{
}
<p class="display-5">Detalle de la posición</p>
<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <table class="table table-striped table-hover table-bordered table-secondary">
        <tr>
            <th scope="col">Id</th>
            <td>@Model.posicion.Id</td>
        </tr>
        <tr>
            <th scope="col">Nombre</th>
            <td>@Model.posicion.Nombre</td>
        </tr>
    </table>
    <a class="btn btn-secondary" asp-page="./Index">Volver</a>
</div>

