@page
@model Torneo.App.Frontend.Pages.Arbitros.CreateModel
@{
}
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <h1>Nuevo arbitro</h1>
    <form method="post">
        <div class="form-group mb-3">
            <label asp-for="arbitro.Nombre" style="color: white;"></label>
            <input asp-for="arbitro.Nombre" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label asp-for="arbitro.Documento" style="color: white;"></label>
            <input asp-for="arbitro.Documento" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label asp-for="arbitro.Telefono" style="color: white;"></label>
            <input asp-for="arbitro.Telefono" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label asp-for="arbitro.Colegio" style="color: white;"></label>
            <input asp-for="arbitro.Colegio" class="form-control">
        </div>
        <div class="form-group mb-3 d-grid gap-2">
            <button type="submit" class="btn btn-warning btn-block">Crear arbitro</button>
        </div>

    </form>
    <div class="d-grid gap-2">
        <a class="btn btn-secondary" asp-page="./Index">Volver</a>
    </div>
</div>