@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<p>TORNEO </p>
<div class= "row">
    <div class="col-12">
        <img src="~/img/fondo.jpg" class="img-fluid"/>
        
    
    </div>


</div>
