@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="background-color:rgb(0,100,125)">



<div class="text-center">
    <h1 ><p style="color:rgb(218,165,70)">Torneo</p></h1>
    

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

</body>
